{
  "globals": {
    "window": true
  },
  "parser": "typescript-eslint-parser",
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["import", "typescript", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "strict": 0,
    "import/extensions": [2, { "js": "never", "ts": "never" }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  }
}
